body.common {
  background-color: yellow;
  height: 700px;
}

body.uber-assign {
  background-color: black;
  color: rgb(251, 251, 251);
}

# HEADER ============
.nav-settings {
  display:none;
}

.page-header {
    margin: 10px 0 10px;
}

.h1, h1 {
    font-size: 24px;
}
.page-header.top {
  background: white;
  text-align: center;
}

.navbar-brand img {
  width: 140px;
  height: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer {
  left: 0px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.margintop {
  margin-top: 5px;
}


.img-map img {
  width: 320px;
  height: auto;
}

.divided {
    padding-top: 9px;
    margin: 10px 0 10px;
    border-top: 1px solid #eee;
}

.shoot {
  position: absolute;
  bottom: 60px;
  width: 100%;
}

.shoot .container {
  position: static
}

.img-pic img {
  width: 80;
  height: 70px;

}

.uber-app {
  width: 100%;
  height: 100%;
}
.uber-app img {
  width: 100%;
  height: 100%;
}

.comments input[type='radio'] {
  margin-left: 3px;
}

.col {
  width: 100px;
  
}

.col img {
  width: 80px;
  height: auto;
}

.tab-other {
  display: none  !important;
}


