{% extends "base.html" %}
{% load staticfiles %}
{% block title %}聖地巡礼案内人{% endblock title %}
{% block extrahead %}
{% endblock %}
{% block content %}
    <!-- ナビ -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo-s.png" alt="聖地 Search"/></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-top active"><a href="{% url 'top_page' %}">Home</a></li>
                    <li class="nav-pic"><a href="{% url 'pic_page' %}">Shoot pictures</a></li>
                    <li class="nav-move"><a href="{% url 'move_page' %}">Next Seichi</a></li>
                    <li class="nav-settings"><a href="{% url 'setting_page' %}">Settings</a></li>
                    <li class="dropdown" style="display:none;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
            <h1>Uberを利用する</h1>
        </div>


        <div>
            <a href="uper.html">
                <div class="img-map text-center map1 maps" style="display:none;"><img src="/static/images/map1.png"
                                                                                      alt="Map1"/></div>
                <div class="img-map text-center map2 maps" style="display:none;"><img src="/static/images/map2.png"
                                                                                      alt="Map2"/></div>
                <div class="img-map text-center map3 maps" style="display:none;"><img src="/static/images/map3.png"
                                                                                      alt="Map3"/></div>
            </a>
        </div>
        <div class="divided">
            <a href="taxi.html">
                <div>
                    <a href="uber-assign.html">
                        <button type="button" class="btn btn-primary form-control">Uber で車を手配する</button>
                    </a>
                </div>
            </a>
        </div>

        <div class="divided">
            <div class="col-md-6 text-center margintop">
                <a href="javascript:$('.maps').hide();$('.map1').show();">
                    <button type="button" class="btn btn-success form-control">校舎</button>
                </a>
            </div>
            <div class="col-md-6 text-center margintop">
                <a href="javascript:$('.maps').hide();$('.map2').show();">
                    <button type="button" class="btn btn-success form-control">音楽室</button>
                </a>
            </div>
            <div class="col-md-6 text-center margintop">
                <a href="javascript:$('.maps').hide();$('.map3').show();">
                    <button type="button" class="btn btn-success form-control">踏み切り</button>
                </a>
            </div>
        </div>

        <div class="divided shoot">
            <div class="container">
                <div class="img-pic text-center"><img src="/static/images/pic.png" alt="Caputure button"/></div>
            </div>
        </div>
    </div>

    <div id="push"></div>
{% endblock content %}
